// savePrescription
.save_presc {
	.input_wrap {
		p.input_title {
			font-size: 1.8rem;
			font-weight: 500;
			margin-bottom: 10px;
		}
		.input_top {
			background-color: #F6F8FF;
			padding: 30px 20px;
			input {
				width: 100%;
				padding: 16px 10px;
				border-radius: 10px;
				box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
				&::placeholder {
					font-size: 1.4rem;
					color: #ccc;
				}
				&:not(:last-child) {
					margin-bottom: 20px;
				}
			}
		}
		.medi_wrap{
			padding: 20px;
			.save_btn{
				width: 100%;
				display: flex;
				justify-content: center;
				align-items: center;
				gap: 4px;
				border-radius: 10px;
				background: #FFF;
				box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
				padding: 16px 0;
				font-size: 1.8rem;
				font-weight: 500;
			}
		}
	}
}