.search{
    color: #444;
    background-color: #F6F8FF;
    min-height: calc(100vh - 60px);
    .search_input{
        padding: 10px 20px;
        background-color: white;
        
        >p{
            margin-top: 10px;
            font-size: 18px;
        }
        >div{
            border-radius: 50px;
            margin: 20px 0px 20px;
            background-color: white;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 12px 15px 10px;
            filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.15));

            >input {
                margin-left: 10px;
                font-size: 18px;
                line-height: 2;
                width: 90%;
    
                &::-webkit-search-decoration,
                &::-webkit-search-cancel-button,
                &::-webkit-search-results-button,
                &::-webkit-search-results-decoration {
                    display: none;
                }
            }
    
            >button {
                width: 10%;
                text-align: end;
            }
        }
    }

    .list{
        padding: 20px;

        ul {
            li{
                margin-bottom: 10px;
                filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.08));
                a{
                    padding:10px;
                    background-color: white;
                    border-radius: 20px;
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
    
                    figure {
                        display: flex;
                        align-items: center;
                        gap: 10px;
    
                        >img {
                            width: 110px;
                            height: 86px;
                            border-radius: 10px;
                        }
    
                        >figcaption {
                            >p {
                                font-size: 16px;
    
                                &:nth-of-type(2) {
                                    word-break: keep-all;
                                    font-size: 18px;
                                    color: #6893F8;
    
                                }
                            }
                        }
                    }
    
                    >button {
                        display: flex;
                        align-items: center;
                        flex-shrink: 0;
    
                        >img {
                            margin: 0 5px;
                        }
                    }
    
                }
                &:last-child {
                    margin-bottom: 100px;
                }

            }
            .fall {
                margin: 5vh 0;
                flex-direction: column;
                text-align: center;
    
                b {
                    color: #444;
                    font-size: 18px;
                    margin-bottom: 10px;
                    color: rgb(68, 68, 68,1);
                }
    
                p {
                    font-size: 18px;
                    color: rgb(68, 68, 68, .7);
                }
            }
        }
    }
}