.model {
    border-radius: 25px;
    position: fixed;
    width: 440px;
    min-height: 30vh;
    max-width: 50vh;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    filter: drop-shadow(4px 4px 14px rgba(0, 0, 0, 0.05));

    .search {
        border-radius: 10px;
        margin: 30px 20px 10px 20px;
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 12px 16px 10px;
        filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.15));

        >input {
            font-size: 18px;
            line-height: 2;
            width: 90%;

            &::-webkit-search-decoration,
            &::-webkit-search-cancel-button,
            &::-webkit-search-results-button,
            &::-webkit-search-results-decoration {
                display: none;
            }
        }

        >button {
            width: 10%;
            text-align: end;
        }
    }

    .list {
        padding: 20px;

        ul {
            overflow-y: scroll;
            max-height: 55vh;

            li {
                position: relative;
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 40px;

                figure {
                    display: flex;
                    align-items: center;
                    gap: 10px;

                    >img {
                        width: 110px;
                        height: 86px;
                        border-radius: 10px;
                    }

                    >figcaption {
                        >p {
                            font-size: 16px;

                            &:nth-of-type(2) {
                                word-break: break-word;
                                font-size: 16px;
                                color: #6893F8;

                            }
                        }
                    }
                }

                >button {
                    display: flex;
                    align-items: center;
                    flex-shrink: 0;

                    >img {
                        margin: 0 5px;
                    }
                }

                &::after {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    transform: translate(-50%, 20px);
                    display: block;
                    width: 90%;
                    height: 1px;
                    background-color: #CDE2FF;
                }

                &:last-child {
                    margin-bottom: 0px;

                    &::after {
                        display: none;
                    }
                }
            }
        }

        .fall {
            flex-direction: column;
            text-align: center;

            b {
                color: #444;
                font-size: 18px;
                margin-bottom: 10px;
                color: rgb(68, 68, 68, .7);
            }

            p {
                font-size: 18px;
                color: rgb(68, 68, 68, .4);
            }
        }

        .fall_add {
            flex-direction: column;
            text-align: center;

            b {
                display: block;
                color: #444;
                font-size: 20px;
            }
            span{  
                font-size: 20px;
                position: relative;
                display: inline-block;
                margin: 20px 0;
                color: #96B4FB;
                &::before{
                    content: "";
                    position: absolute;
                    left: -10%;
                    top: 50%; transform: translate(-100% ,-50%);
                    display:inline-block;
                    width: 22px;
                    height: 22px;
                    background: url('/asset/common/ICON_plus.png') no-repeat center center;
                }
            }
            button{
                display: flex;
                font-size: 20px;
                justify-content: center;
                color: white;
                width: 100%;
                padding: 10px;
                background-color: #96B4FB;
                border-radius: 10px;
                margin: 5px 0;
        filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.15));

            }
        }
    }
}